.bg-dark{
  background: #272f3a !important;

}


.slider{
  background: url('../img/cover-1.jpg');
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.homeTheme{
  position: relative;
  padding-top: 200px;
  padding-bottom: 120px;

  margin: 0 auto;
  display: block;
  text-align: center;
}






.countdown{
  padding: 10px;
  width: 100%;
  height: auto;
  background: #a85d87;
  opacity: 0.8

}

.wrapper{
  width: 100% !important;
}

#demo{

  font-size: 20px;
  margin: 0 auto;
  display: block;

}


.contertb{
width: 50%;
color:#fff;
}


.come h2{
font-size:60px;
padding: 20% 20%;
font-weight: 300;


}

.homeintro p{

padding: 10% 10%;

}

.msgtxt{
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.bggray{
  background:#a0b2bd;

}

.regiDiv{
  padding-top: 80px;
}

.regleft{
  border:1px solid #666;
  height: auto;
  margin: 10px;
  padding: 10px;
}
.regright{
  border:1px solid #666;
  height: auto;
    margin: 10px;
      padding: 10px;
}

.formDiv{
  margin: 20px;
}

footer{
  background: #5e3b93;
  padding: 10px;
}


.footerinfo p{
  padding: 0px;
  margin: 0px;
}

.pimg{
  width: 100%;
  padding-left:50px;
}

.slogantxt{
  font-size: 12px;
  font-style: italic;
  color: #393286;
}

.hometxt1{
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
}
.hometxt2{
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
}

.block1{
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  background: #06283a;
}

.content-wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
}

.formDiv{
  border: 1px solid #666;
  padding: 20px;
}


.regiList li label{
  width: 25%;
}
.guidline li{
  font-size: 14px;
  color: #001e60;
  font-weight: bold;
  margin: 10px auto;
  padding: 10px;
  background: red;
}

.guidline a{
  color: #fff;
}
